<%provide(:title, 'Home')%>
<%if signed_in?%>
  <div class="row">
    
    <div class="col-md-4">
      <%= gravatar_for current_user%>
      <hr>
      <!--
      <#%= link_to "Prifilo", user_profile_path(current_user.id, current_user.profile)%>
      -->
    </div>

    <div class="col-md-8">
      <% @posts.each do |post|%>
        <ul>
          <li><b><%= post.title%></b></li>
          <li><i><%= post.body%></i></li>
          <li><%=link_to post.user.name,user_path(post.user_id) %></li> 
        </ul>
        <hr>
      <%end%>
    </div>
    
  </div> 
<%else%>
  <%= render partial: "home_page"%>
<%end%>
